<!DOCTYPE html>
<head>
	<title><%- title -%></title>
	<meta charset="utf-8">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<link rel="manifest" href="/manifest.json">
	<link rel="icon" type="image/png" href="/compiled/i/icon@16x16png" sizes="16x16">
	<link rel="icon" type="image/png" href="/compiled/i/icon@32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/compiled/i/icon@96x96.png" sizes="96x96">
	<link rel="stylesheet" href="/compiled/build.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,900" rel="stylesheet">
	<script src="/compiled/bundle.js" defer></script>
	<meta name="theme-color" content="#000000">
	
	<!--
	if (isset($this->config['_ga'])) {
	$domain = isset($this->config['domain']) ? $this->config['domain'] : 'auto'; ?>
	<script>requireGA={_ga:'<?=$this->config["_ga"]?>',domain:'<?=$domain?>'};</script>
	-->
	
	<!-- seo tags -->
	<meta property="title" content="<%- meta.title -%>">
	<meta property="description" content="<%- meta.description -%>">
	
	<meta property="og:title" content="<%- meta.title -%>">
	<meta property="og:description" content="<%- meta.description -%>">
	
	<meta property="twitter:title" content="<%- meta.title -%>">
	<meta property="twitter:description" content="<%- meta.description -%>">
	<meta property="twitter:card" content="summary">
	<!-- end seo tags -->
</head>
<body>
	<div id="root"><%- markup -%></div>
</body>