<!DOCTYPE html>
<head>
	<title><%- title -%></title>
	<meta charset="utf-8">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<link rel="manifest" href="manifest.json">
	<link rel="icon" type="image/png" href="/assets/i/icon@16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/i/icon@32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/i/icon@96x96.png" sizes="96x96">
	<link rel="stylesheet" href="/assets/css/build.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">
	<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:200,300,400,500,600,700,900,300i/PT+Serif:400">
	<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">-->
	<script>window.__INITIAL_STATE__=<%- initialState -%></script>
	<script src="/assets/bundle.js" defer></script>
	<meta name="theme-color" content="#000000">
	
	<!--
	if (isset($this->config['_ga'])) {
	$domain = isset($this->config['domain']) ? $this->config['domain'] : 'auto'; ?>
	<script>requireGA={_ga:'<?=$this->config["_ga"]?>',domain:'<?=$domain?>'};</script>
	-->
	
	<!-- seo tags -->
	<meta property="title" content="<%- meta.title -%>">
	<meta property="description" content="<%- meta.description -%>">
	
	<meta property="og:title" content="<%- meta.title -%>">
	<meta property="og:description" content="<%- meta.description -%>">
	
	<meta property="twitter:title" content="<%- meta.title -%>">
	<meta property="twitter:description" content="<%- meta.description -%>">
	<meta property="twitter:card" content="summary">
	<!-- end seo tags -->
</head>
<body>
	<div id="app-root"><%- markup -%></div>
	<div id="modal-root" />
</body>